---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ProblemWall from "../components/ProblemWall.astro";
import BzztSection from "../components/sections/BzztSection.astro";
import CmokSection from "../components/sections/CmokSection.astro";
import NwdSection from "../components/sections/NwdSection.astro";
import Manifest from "../components/Manifest.astro";
import Company from "../components/Company.astro";
import WhatsNext from "../components/WhatsNext.astro";
---

<Layout>
  <Hero />
  <ProblemWall />
  <div id="apps" class="scroll-mt-20">
    <BzztSection />
    <CmokSection />
    <NwdSection />
  </div>
  <Manifest />
  <Company />
  <WhatsNext />
</Layout>
